body {
    background-color: #646668;
    color: #dddee0;
    
    background-image: url("./GroteMooieGolfBlurry.png");
    background-size: cover;
    background-position: 0px -125px; /* Adjust the pixel values as per your desired position */
    background-repeat: no-repeat;
    
}

h1 {
    position: relative; /* Create a new stacking context */
    z-index: 1; /* Ensure the title is above the overlay */
    mix-blend-mode: difference; /* Apply color inversion using the difference blend mode */
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Set an overlay color with some transparency */
    pointer-events: none; /* Ensure the overlay doesn't interfere with interaction */
    z-index: -1; /* Send the overlay to the bottom of the stacking order */
    align-items: center;
    height: 100vh; /* Set the body height to 100% of the viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}


/* CSS styles for image */
.image img {
    width: 300px; /* adjust the width as per your requirement */
    height: auto; /* maintain aspect ratio */
    border: 1px solid black; /* add a border around the image */
    border-radius: 5px; /* round the corners of the image */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* add a subtle shadow effect */
    margin-right: 20px; /* add space to the right of the image */
}

.p_1 {
    font-size: 16px;
    line-height: 1.5;
    max-width: 500px;
    margin-bottom: 10px;
    font-family: "Avenir", sans-serif; /* set the font to Avenir */
    text-align: justify; /* justify the paragraph text */
}

.t_1 {
    font-size: 129.5px;
    line-height: 1.5;
    /* max-width: 700px; */
    margin-bottom: 10px;
    margin-left: 270px;
    text-align: left; /* center the heading horizontally */
    
    /* margin-left: auto; add auto margin to center horizontally */
    /* margin-right: auto; add auto margin to center horizontally */
    font-family: "Avenir", sans-serif; /* set the font to Avenir */
}

.container {
    display: flex;
    flex-direction: row; /* set flex-direction to row */
    align-items: center; /* center items vertically */
    justify-content: center; /* center items horizontally */
    
}

.image {
    flex: 0 0 auto;
}

.text {
    flex: 0 0 auto;
    padding-left: 20px; /* add padding to the left for separation */
    border-left: 1px solid black; /* add a vertical line as a divider */
}

.text-container {
    display: flex;
    flex-direction: column;
}


/* CSS styles for links */
.links {
    display: flex; /* make the links flex container */
    align-items: center; /* center items vertically */
    font-family: "Avenir", sans-serif; /* set the font to Avenir */
}

.links a {
    text-decoration: none; /* remove underline from links */
    color: goldenrod; /* inherit text color from parent */
    margin-right: 1px; /* add right margin for spacing */
}